[submodule "hls_lfcd_lds_driver"]
	path = hls_lfcd_lds_driver
	url = https://github.com/ROBOTIS-GIT/hls_lfcd_lds_driver
[submodule "Dynamixel"]
	path = Dynamixel
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
[submodule "turtlebot3"]
	path = turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3
[submodule "slam_gmapping"]
	path = slam_gmapping
	url = https://github.com/ros-perception/slam_gmapping
[submodule "openslam_gmapping"]
	path = openslam_gmapping
	url = https://github.com/ros-perception/openslam_gmapping
[submodule "turtlebot3_msgs"]
	path = turtlebot3_msgs
	url = https://github.com/ROBOTIS-GIT/turtlebot3_msgs
[submodule "turtlebot3_simulations"]
	path = turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations
